doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Rapgod.me Prototype
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/polls.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js")

  body
    main#wrapper
      h1 Rapgod.me Prototype
      h2 Rap Suggestions

      if polls.length
        ul(id="poll-container")
          each poll in polls
            li(id=`poll-${poll._id}`)
              span(class="date")=`Created on: ${new Date(poll.timestamp).toDateString()}`
              br
              a(class="title" href=`/poll/${poll._id}`)=`${poll.question}`
              br
              a(class="vote-btn" href=`/vote/${poll._id}`)="Go to vote"
              input(id=`delete_${poll._id}` class="delete-btn" data-poll-id=`${poll._id}` type="button" value="Delete rap")

        a(id='create' href="/create") Create a new rap
      else
        p No raps found
        a(id="create" href="/create") Create a new rap
        
      template(data-styling=styling)

      include footer.pug

  script.
    let delBTN = document.querySelectorAll('.delete-btn');

    for (let button of delBTN) {
      button.onclick = function() {

        let confirmed = confirm('Are you sure you want to delete this rap?');
        if (!confirmed) {
          return ;
        }

        let id = this.getAttribute('data-poll-id');
        fetch('/api/poll/' + id, {
          method: 'DELETE'
        }).then(resp => resp.json()).then(data => {
          if (data.status == 'success') {
            alert('Deleted!');
            let pollContainer = document.querySelector('#poll-container');
            let pollNode = document.querySelector(`#poll-${id}`);
            pollContainer.removeChild(pollNode);
          } else {
            alert('Failed to delete rap')
          }
        }).catch(err => {
          alert('Failed to delete rap because of error');
          alert(err);
        })
      }
    }
